<!DOCTYPE html>
<html>
<head>
    <title>Fake News Classification</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <div class="logo">
            <img src="{{ url_for('static', filename='logo.jpg') }}" alt="College Logo">
        </div>
        <h1>Fake News Classification</h1>
        <nav>
            <ul>
                <li><a href="home">Prediction</a></li>
            </ul>
        </nav>
    </header>
    <section class="description">
        <h2>About the Project</h2>
        <p>In this project, we are using ensemble learning techniques with NLTK (Natural Language Toolkit) for fake news classification. Ensemble learning combines multiple machine learning models to improve the accuracy of predictions. NLTK is a powerful Python library for natural language processing, which we are leveraging to analyze and classify news articles as real or fake based on their content.</p>
        <p>Our goal is to develop a robust and accurate fake news detection system that can help users identify unreliable sources and prevent the spread of misinformation.</p>
    </section>
    <footer style="text-align: center; background-color: #882d71; color: white; padding: 10px; position: fixed; left: 0; bottom: 0; width: 100%;">
        <p>Developed By: Allen Jeriel K, Anish RNS, Gnana Ajay A,Alan Giftson J, Easwari Engineering College, Computer Science and Engineering</p>
        <p>Guided By: Dr. G Vishnupriya, Computer Science and Engineering, Easwari Engineering College</p>
    </footer>
    
</body>
</html>
